<%= render 'shared/errors', obj: @amol361 %>

<%= form_for(@amol361, :html => { multipart: true, :class => "form-horizontal", role: "form"}) do |f| %>


<div id="all_form">

  
  <div class="form-group row">
    <div class="control-label col-md-2">
      <%= f.label :date %>
    </div>
    <div class="col-md-8">
      <%= f.date_field :date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
    </div>
  </div>
  

<br>
  
  
  <div class="form-group row">
    <div class="control-label col-md-2">
      <%= f.label :description %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :description, class: "form-control", 
                            placeholder: "Please Enter..." %>
    </div>
  </div>
  
   <div class="form-group row">
    <div class="control-label col-md-2">
      <%= f.label :amount %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :amount, class: "form-control", 
                            placeholder: "Please Enter..." %>
    </div>
  </div>

   <div class="form-group row">
    <div class="control-label col-md-2">
      <%= f.label :discount %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :discount, class: "form-control", 
                            placeholder: "Please Enter..." %>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="control-label col-md-2">
      <%= f.label :paid %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :paid, class: "form-control", 
                            placeholder: "Please Enter..." %>
    </div>
  </div>
  
 
  <div class="form-group row">
    <div class="control-label col-md-2">
      <%= f.label :balance %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :balance, class: "form-control", 
                            placeholder: "Please Enter..." %>
    </div>
  </div>
  
  <div class="form-group row">
    <div class="control-label col-md-2">
      <%= f.label :delndel, "Delivered / Not Delivered" %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :delndel, class: "form-control", 
                            placeholder: "Please Enter..." %>
    </div>
  </div>


  <div class="form-group row">
    <div class="control-label col-md-2">
      <%= f.label :remark %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :remark, class: "form-control", 
                            placeholder: "Please Enter..." %>
    </div>
  </div>
  
  
  <div class="form-group row">
    <div class="col-sm-10">
     <%= f.submit @amol361.new_record? ? "Create" : "Update", class: 'btn btn-primary' %>
    </div>
  </div>
  

<% end %>

<div class="col-xs-4 col-xs-offset-4">

[ <%= link_to "Cancel request and return", amol361s_path %> ]

</div>

</div>



  