<div id="content_header361">
<h1 id="main_heading"><%= current_user.name %></h1>

<div id="app-back-button">
<%= link_to image_tag("back.png",:border => 0), 'javascript:history.go(-1);' %>
</div>

</div>

<% if current_user && current_user.admin %>
<div id="inner-tab-menu">
<ul>
<li><%= link_to 'New Entry', :controller => 'amol361s',
:action => 'new' %></li>
</ul>
</div>
<% end %>

<div id="sample" style="display: inline-block; margin-left: 424px;">

<%= form_tag amol361s_path, remote: true, method: :get, class: "form-group", role: "search" do %>
<p>
<center><%= text_field_tag :search, params[:search], placeholder: "Search for.....", autofocus: true, class: "form-control-search" %>
<%= submit_tag "Search", name: nil, class: "btn btn-md btn-primary" %></center>
</p>
<% end %><br>
</div>

<br>

<% @balance = 0 %>


<div class="row">

<div class="col-md-12 col-md-offset-0">

<div  class="table-responsive myTable">

<table class="table listing text-center">


<thead>
<tr class="tr-head">
<td>Date</td>
<td>Description</td>
<td>Amount</td>
<td>Discount</td>
<td>Paid</td>
<td>Balance</td>
<td>DelnDel</td>
<td>Remark</td>
<% if current_user && current_user.admin %>
<td id="mystyle">Hide</td>
<% end %>

</tr>
</thead>

<a href="#" class="toggle-formed" style="float: right;" ><strong>Search</strong></a>



<tr>
<td></td>
</tr>

<tbody id = "kola">    


<% @amol361s.each do |amol361| %>
<tr class="tr-<%= cycle('odd', 'even') %>" id='<%= "tr_#{amol361.id}" %>'>


<% if current_user && current_user.admin %>
<td class="col-1"><%= link_to amol361.date.try(:strftime,'%d/%m/%Y'), edit_amol361_path(amol361) %></td>
<% else %>
<td class="col-1"><%= amol361.date.try(:strftime,'%d/%m/%Y') %></td>
<% end %>

<td class="col-3"><%= span_with_possibly_red_color amol361.description %></td>


<td class="col-1"><%= number_with_precision(amol361.amount, :delimiter => ",", :precision => 2) %></td>

<td class="col-1 neg"><%= number_with_precision(amol361.discount, :delimiter => ",", :precision => 2) %></td>

<td class="col-1 neg"><%= number_with_precision(amol361.paid, :delimiter => ",", :precision => 2) %></td>


<% @balance += amol361.amount.to_f - amol361.discount.to_f - amol361.paid.to_f %>

<% color = @balance >= 0 ? "pos" : "neg" %>

<td class="col-1 <%= color %>"><%= number_with_precision(@balance.abs, :delimiter => ",", :precision => 0) %></td>

<td class="col-1"><%= amol361.delndel %></td>

<td class="col-1"><%= amol361.remark %></td>

<% if current_user && current_user.admin %>
<td class="col-1"><%= link_to "Hide", hide_amol361_path(amol361), method: :put, remote: true, style: "color:#bb7272;" %>
<%= link_to amol361, method: :delete, data: { confirm: "Are you sure?" }, :class => 'delete_item' do %>
<i class="fa fa-trash" ></i>
<% end %>
</td>
<% end %>

</tr>
<% end %>




</tbody>
</table>
</div>
</div>
</div>

<br>
<br> 
<br> 

<!-- <button class="button button5">Black</button> -->
<% if current_user && current_user.admin %>
<%= link_to "Unhide all", unhide_all_amol361_path, method: :put, class: "button button5", style:"color:  pink;margin-left: 927px; display: inline;" %>
<% end %>


<center><p class="<%= @balance >= 0 ? "balance_pos" : "balance_neg" %>"><b><%= number_to_currency(@balance.abs, :unit => 'AED ', :delimiter => ",", :precision => 0) %></b></p></center>


<!--           |=== HERE  -->
<a href="#" class="toggle-form">...</a>



<div id="test">
<h2>Import Statements</h2>
<%= form_tag import_amol361s_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import" %>
<% end %>
</div>


<br>
<br>
<br>

<% if current_user && current_user.admin %>
<center> <%= link_to "Remove All", remove_all_amol361s_path, :method => :get, data: {confirm: 'Are you sure?'} %></center>
<% end %>   

<!--	<script>-->

<!--	if ($('#amol361_paid').val().indexOf(',') !== -1)-->
<!--{-->
<!--  alert('There was a comma');-->
<!--}-->
<!--</script>-->