<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    
    <div class="container">
      
      <%= render 'layouts/messages' %>
    
    </div>
    
    <div class="container">
      
      <%= yield %>
    
    </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>


<script>
$(document).ready(function() {
	$('td:contains("ELIVERED")').css('color', 'red');
	$('td:contains("DELIVERED ON")').css('color', 'green');
	$('td:contains("DELIVERED")').css('color', 'green'); 
	$('td:contains("BY HAND")').css('color', 'green'); 
	$('td:contains("VIA DUBAI")').css('color', 'green'); 
	$('td:contains("DOWNPAYMENT")').css('color', '#f3f098'); 
	$('td:contains("DIRECT")').css('color', 'green'); 
	$('td:contains("DUBAI WAREHOUSE")').css('color', '#fff'); 
	$('td:contains("D.N")').css('color', 'green');  
	$('td:contains("READY GOODS IN CHINA")').css('color', '#b98f1a'); 
	$('td:contains("CANCELLED")').css('color', 'darkred').css('font-weight','bold'); 
	$('td:contains("FOOT LOOSE")').css('color', '#3da93d').css('font-weight','bold'); 
	$('td:contains("GLOBAL FEET")').css('color', 'darkred').css('font-weight','bold'); 
	$('td:contains("NOT ASSIGNED")').css('color', '#498ca0').css('font-weight','bold'); 
	$('td:contains("DUBAI PORT")').css('color', '#f9e2d4').css('font-weight','bold'); 
	$('td:contains("5%")').css('color', '#778bd2').css('font-weight','bold'); 
});
</script>